layout {
    default_tab_template {
        children
            pane size=2 borderless=true {
                plugin location="zellij:status-bar"
            }
    }
    tab split_direction="Vertical" {
        pane split_direction="vertical" {
            pane stacked=true {
                pane size="70%" cwd="/home/amogh/projects/draw1" focus=true name="draw1" command="nvim" {
                    args "."
                }
                pane size="70%" cwd="/home/amogh/projects/draw1" name="service" {
                }
            }
        }
        floating_panes {
            pane cwd="/home/amogh/projects/draw1" name="server" command="bun" {
                args "run" "tauri" "dev"
                x 25
                y "15%"
                width 125
                height "60%"
            }
        }
    }
}
